body {
    padding: 10px;
}

h1 {
    color: aliceblue;
    background-color: black;
    font-family: cursive;
    padding: 10px;
    
}

span {
    color: aqua;
}

h2 {
    color: white;
    background-color: blueviolet;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    font-family: sans-serif;
    padding: 7px;
}

h3 {
    color: black;
    background-color: aqua;
    text-align: end;
    text-decoration: underline;
    font-family: cursive;
    padding: 5px;
}