@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    width: 800px;
    margin: 0 auto;
}

.header {
    background-color: #cccccc;
    /* width: 50%; */
    /* margin-left: 50px; */
    font-family: 'Balsamiq Sans', cursive;
}


.box1 {
    border: 2px solid black;
    font-family: 'Balsamiq Sans', cursive;
    word-wrap: normal;
    width: 30%;

}

.box2 {
    border: 2px solid black;
    font-family: 'Balsamiq Sans', cursive;
    width: 150px;
    height: 150px;
    word-wrap: normal;
    margin-top: 25px;
    
}
.box3 {
    border: 2px solid black;
    font-family: 'Balsamiq Sans', cursive;
    width: 30%;
    word-wrap: normal;

}


.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 50%; */
}

.flex-1 {
    flex: 1;
}
